<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>{% block title %}My Website {% endblock %}</title>

	<link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">

	<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">

	<link rel="stylesheet" href="../static/assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="../static/assets/plugins/fontawesome/css/all.min.css">

	<link rel="stylesheet" href="../static/assets/css/style.css">
	
	<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
</head>

<body>

	<div class="main-wrapper">

		<div class="header">

			<div class="header-left">
				<a href="{{ url_for('dashboard')}}" class="logo">
					<img src="../static/assets/img/logo.png" alt="Logo">
				</a>
				<a href="{{ url_for('dashboard')}}" class="logo logo-small">
					<img src="../static/assets/img/logo-small.png" alt="Logo" width="30" height="30">
				</a>
				<a href="javascript:void(0);" id="toggle_btn">
					<span class="bar-icon">
						<span></span>
						<span></span>
						<span></span>
					</span>
				</a>
			</div>

			<div class="top-nav-search">
				<form>
					<input type="text" class="form-control" placeholder="">
					<button class="btn" type="submit"><i class="fas fa-search"></i></button>
				</form>
			</div>
			<ul class="nav user-menu">
				<li class="nav-item dropdown has-arrow main-drop">
					<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
						<span class="user-img">
							<img style="width: 50px; height: 50px; border-radius: 50%; border: 1px solid sandybrown; object-fit: cover;" src="{{ user['avatar'] }}" alt="">
							<span class="status online"></span>
						</span>
						<span>{{ user['fullname'] }}</span>
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="{{ url_for('profile') }}"><i data-feather="user" class="mr-1"></i>
							Profile</a>
						<a class="dropdown-item" href="{{ url_for('logout')}}" onclick="return confirmLogout(event)"><i data-feather="log-out" class="mr-1"></i>
							Logout</a>
					</div>
				</li>

			</ul>
			<div class="dropdown mobile-user-menu show">
				<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
						class="fa fa-ellipsis-v"></i></a>
				<div class="dropdown-menu dropdown-menu-right ">
					<a class="dropdown-item" href="profile.html">My Profile</a>
					<a class="dropdown-item" href="settings.html">Settings</a>
					<a class="dropdown-item" href="{{ url_for('logout')}}" onclick="return confirmLogout(event)">Logout</a>
				</div>
			</div>

		</div>


		<div class="sidebar" id="sidebar">
			<div class="sidebar-inner slimscroll">
				<div class="sidebar-contents">
					<div id="sidebar-menu" class="sidebar-menu">
						<div class="mobile-show">
							<div class="offcanvas-menu">
								<div class="user-info align-center bg-theme text-center">
									<span class="lnr lnr-cross  text-white" id="mobile_btn_close">X</span>
									<a href="javascript:void(0)" class="d-block menu-style text-white">
										<div class="user-avatar d-inline-block mr-3">
											<img style="width: 100px; height: 100px; border-radius: 50%; border: 1px solid sandybrown; object-fit: cover;" src="{{ user['avatar'] }}" alt="user avatar"
												class="rounded-circle" width="50">
										</div>
									</a>
								</div>
							</div>
							<div class="sidebar-input">
								<div class="top-nav-search">
									<form>
										<input type="text" class="form-control" placeholder="Search here">
										<button class="btn" type="submit"><i class="fas fa-search"></i></button>
									</form>
								</div>
							</div>
						</div>
						<ul>
							<li class="{% if request.path == url_for('dashboard') %}active{% endif %}">
								<a href="{{ url_for('dashboard')}}"><img src="../static/assets/img/home.svg" alt="sidebar_img">
									<span>Dashboard</span></a>
							</li>

							<li class="{% if request.path == url_for('projects') %}active{% endif %}">
								<a href="{{ url_for('projects')}}"><img src="../static/assets/img/report.svg"
										alt="sidebar_img"><span>Project</span></a>
							</li>

							<li class="{% if request.path == url_for('tasks') %}active{% endif %}">
								<a href="{{ url_for('tasks')}}"><img src="../static/assets/img/review.svg"
										alt="sidebar_img"><span>Tasks</span></a>
							</li>

							<li>
								<a href="{{url_for('calendar')}}"><img src="../static/assets/img/calendar.svg" alt="sidebar_img">
									<span>Calendar</span></a>
							</li>
							<!-- <li>
								<a href="important.html"><img src="../static/assets/img/review.svg"
										alt="sidebar_img"><span>Important</span></a>
							</li> -->
							
							<li>
								<a href="{{ url_for('profile')}}"><img src="../static/assets/img/profile.svg" alt="sidebar_img">
									<span>Profile</span></a>
							</li>
						</ul>
						<ul class="logout">
							<li>
								<a href="{{ url_for('logout')}}" onclick="return confirmLogout(event)">
									<img src="../static/assets/img/logout.svg" alt="sidebar_img">
									<span>Log out</span></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div id="content">
			{% block content %}
			{% endblock %}
		</div>

	</div>

	<script src="../static/assets/js/jquery-3.6.0.min.js"></script>

	<script src="../static/assets/js/popper.min.js"></script>
	<script src="../static/assets/js/bootstrap.min.js"></script>

	<script src="../static/assets/js/feather.min.js"></script>

	<script src="../static/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>

	<script src="../static/assets/plugins/apexchart/apexcharts.min.js"></script>
	<script src="../static/assets/plugins/apexchart/chart-data.js"></script>

	<script src="../static/assets/js/script.js"></script>
</body>

</html>

<!-- Xác nhận đăng xuất -->
<script>
	function confirmLogout(event) {
		if (confirm("Bạn có chắc chắn muốn đăng xuất không?")) {
			return true;  // Cho phép điều hướng đến URL đăng xuất
		} else {
			event.preventDefault();  // Ngăn chặn điều hướng nếu người dùng chọn "Hủy"
			return false;
		}
	}
</script>