{% extends "app.html" %}

{% block title %}Profile Page{% endblock %}

{% block content %}
<div class="page-wrapper">
    <div class="content container-fluid">
        {% if message %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endif %}
        <div class="row">
            <div class="col-xl-12 col-sm-12 col-12">
                <div class="breadcrumb-path mb-4">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href=" {{ url_for('dashboard')}} "><img
                                    src="../static/assets/img/dash.png" class="mr-2" alt="breadcrumb" />Home</a>
                        </li>
                        <li class="breadcrumb-item active"> Profiles</li>
                    </ul>
                    <h3>General</h3>
                </div>
            </div>
            <div class="col-xl-12 col-sm-12 col-12 mb-4">
                <div class="head-link-set">
                    <ul>
                        <li><a href="{{url_for('profile')}}" >General</a></li>
                        <li><a href="{{url_for('profile_timeoff')}}">Details</a></li>
                        <li><a class="active" href="#">Change Password</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-12 col-sm-12 col-12 ">
                <div class="row">
                    <div class="col-xl-12 col-sm-12 col-12 ">
                        <div class="card ">
                            <form id='companyForm' method="post" action="{{ url_for('changePassword') }}">

                                <div class="card-header">
                                    <h2 class="card-titles" style="color: orange;">Fill in the form to change your password</h2>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-xl-12 col-sm-6 col-12 ">
                                            <div class="form-group">
                                                <label><b>Current Password</b></label>
                                                <input value="" type="text" id="currentPassword"
                                                    name="currentPassword">
                                            </div>
                                        </div>
                                        <div class="col-xl-12 col-sm-6 col-12 ">
                                            <div class="form-group">
                                                <label><b>New Password</b></label>
                                                <input value="" type="text" id="newPassword"
                                                    name="newPassword">
                                            </div>
                                        </div>
                                        <div class="col-xl-12 col-sm-6 col-12 ">
                                            <div class="form-group">
                                                <label><b>Confirm Password</b></label>
                                                <input value="" type="text" id="confirmPassword"
                                                    name="confirmPassword">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-btn">
                                        <button type="submit" class="btn btn-apply" id="updateCompanyBtn">Change Password</button>
                                    </div>
                                </div>
                            </form>
                            <!-- </form> -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}