{% extends "app.html" %}

{% block title %}Dashboard Page{% endblock %}

{% block content %}
    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-name 	mb-4">
                <h4 class="m-0"><img style="width: 50px; height: 50px; border-radius: 50%; border: 1px solid sandybrown; object-fit: cover;" src="{{ user['avatar'] }}" class="mr-1" alt="profile" /> Welcome {{ user['fullname'] }}! Let's do some tasks!</h4>
                <label id="curten_date_dashboard"></label>
            </div>
            <div class="row mb-4">
                <div class="col-xl-12 col-sm-12 col-12">
                    <div class="breadcrumb-path ">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ url_for('dashboard')}}"><img src="../static/assets/img/dash.png"
                                        class="mr-3" alt="breadcrumb" />Home</a>
                            </li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-xl-3 col-sm-6 col-12 mx-auto">
                    <div class="card board1 fill1 ">
                        <div class="card-body">
                            <div class="card_widget_header">
                                <label>Projects</label>
                                <h4>{{ project_count }}</h4>
                            </div>
                            <div class="card_widget_img">
                                <img src="../static/assets/img/project.png" style="height: 65px; width: 65px;" alt="card-img" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-sm-6 col-12 mx-auto">
                    <img src="../static/assets/img/todo_img.jpg" alt="todo_img" style="width: 100%; height: 100%;">
                </div>

                <div class="col-xl-3 col-sm-6 col-12 mx-auto">
                    <div class="card board1 fill3 ">
                        <div class="card-body">
                            <div class="card_widget_header">
                                <label>Task</label>
                                <h4>{{task_count}}</h4>
                            </div>
                            <div class="card_widget_img">
                                <img src="../static/assets/img/task.png" style="height: 65px; width: 65px;" alt="card-img" />
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row mb-4">
                <div class="col-xl-3 col-sm-6 col-12 mx-auto">
                    <div class="card board1 fill1 " style="background-color: #00cd00; border-radius: 10px;">
                        <div class="card-body">
                            <div class="card_widget_header">
                                <label>Tasks todo</label>
                                <h4>{{todo_count}}</h4>
                            </div>
                            <div class="card_widget_img">
                                <img src="../static/assets/img/to-do-list.png" style="height: 65px; width: 65px;" alt="card-img" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 mx-auto">
                    <div class="card board1 fill2 " style="background-color: #008da3; border-radius: 10px;">
                        <div class="card-body">
                            <div class="card_widget_header">
                                <label>Tasks in progress</label>
                                <h4>{{doing_count}}</h4>
                            </div>
                            <div class="card_widget_img">
                                <img src="../static/assets/img/check-list.png" style="height: 65px; width: 65px;" alt="card-img" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 mx-auto">
                    <div class="card board1 fill3 " style="background-color: rebeccapurple; border-radius: 10px;">
                        <div class="card-body">
                            <div class="card_widget_header">
                                <label>Tasks completed</label>
                                <h4>{{done_count}}</h4>
                            </div>
                            <div class="card_widget_img">
                                <img src="../static/assets/img/done.png" style="height: 65px; width: 65px;" alt="card-img" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-sm-12 col-12 d-flex">
                    <div class="card card-list flex-fill">
                        <div class="card-header ">
                            <h4 class="card-title">Recently tasks</h4>
                        </div>
                        {% for t in recent_tasks %}
                            <div class="card-body">
                                <div class="team-list">
                                    <div class="team-view">
                                        <div class="team-content mx-4 my-0">
                                            <label style="color: orange;">{{t.title}}</label>
                                            <span style="color: rgb(0, 31, 92);">{{t.description}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Lấy ngày hiện tại
        const now = new Date();

        // Định dạng ngày
        const options = { weekday: 'short', day: '2-digit', month: 'short', year: 'numeric' };
        const formattedDate = now.toLocaleDateString('en-US', options);

        // Hiển thị ngày vào thẻ <label>
        document.getElementById('curten_date_dashboard').textContent = formattedDate;
    </script>
{% endblock %}