{% extends "app.html" %}

{% block title %}Profile Page{% endblock %}

{% block content %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="row">
            <div class="col-xl-12 col-sm-12 col-12">
                <div class="breadcrumb-path mb-4">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href=" {{ url_for('dashboard')}} "><img
                                    src="../static/assets/img/dash.png" class="mr-2" alt="breadcrumb" />Home</a>
                        </li>
                        <li class="breadcrumb-item active"> Profiles</li>
                    </ul>
                    <h3>General</h3>
                </div>
            </div>
            <div class="col-xl-12 col-sm-12 col-12 mb-4">
                <div class="head-link-set">
                    <ul>
                        <li><a class="active" href="#">General</a></li>
                        <li><a href="{{url_for('profile_timeoff')}}">Details</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-12 col-sm-12 col-12 ">
                <div class="row">
                    <div class="col-xl-6 col-sm-12 col-12">
                        <div class="card ">
                            <div class="card-header">
                                <h2 class="card-titles" style="color: orangered;">User Avatar</h2>
                            </div>
                            <div class="card-body">
                                <div class="company-logo">
                                    <form id="uploadLogoForm" enctype="multipart/form-data">
                                        <!-- <label class="logo-upload" for="edit_img">
                                            <input type="file" id="edit_img" name="logo" />
                                            <a><i data-feather="edit"></i></a>
                                        </label> -->
                                        <img style="height: 250px; width: 250px; border: 1px solid orange; object-fit: contain; border-radius: 10px;"
                                            id="companyLogoPreview" src="{{ user['avatar'] }}" alt="logo" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-sm-12 col-12 ">
                        <div class="card ">
                            <form id='companyForm' method="post" action="{{url_for('handle_update_user')}}">

                                <div class="card-header">
                                    <h2 class="card-titles" style="color: orange;">User Information</h2>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-xl-12 col-sm-6 col-12 ">
                                            <div class="form-group">
                                                <label><b>Full Name</b></label>
                                                <input value="{{user['fullname']}}" type="text" id="fullName"
                                                    name="fullname">
                                            </div>
                                        </div>
                                        <div class="col-xl-12 col-sm-6 col-12 ">
                                            <div class="form-group">
                                                <label><b>User Name</b></label>
                                                <input value="{{user['username']}}" type="text" id="username"
                                                    name="username">
                                            </div>
                                        </div>
                                        <div class="col-xl-12 col-sm-6 col-12 ">
                                            <div class="form-group">
                                                <label><b>Phone Number</b></label>
                                                <input value="{{user['phone']}}" type="text" id="phone"
                                                    name="phone">
                                            </div>
                                        </div>
                                        <div class="col-xl-12 col-sm-6 col-12 ">
                                            <div class="form-group">
                                                <label><b>Address</b></label>
                                                <input value="{{user['address']}}" type="text" id="address"
                                                    name="address">
                                            </div>
                                        </div>
                                        <div class="col-xl-12 col-sm-6 col-12 ">
                                            <div class="form-group">
                                                <label><b>Link Avatar</b></label>
                                                <input value="{{user['avatar']}}" type="text" id="avatar" name="avatar">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-btn">
                                        <button type="submit" class="btn btn-apply" id="updateCompanyBtn">Save
                                            Changes</button>
                                    </div>
                                </div>
                            </form>
                            <!-- </form> -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}