{% extends "app.html" %}

{% block title %}Profile Page{% endblock %}


{% block content %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="row">
            <div class="col-xl-12 col-sm-12 col-12">
                <div class="breadcrumb-path mb-4">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ url_for('dashboard')}}"><img
                                    src="../static/assets/img/dash.png" class="mr-2" alt="breadcrumb" />Home</a>
                        </li>
                        <li class="breadcrumb-item active"> Profiles</li>
                    </ul>
                    <h3>Profiles</h3>
                </div>
            </div>
            <div class="col-xl-12 col-sm-12 col-12 mb-4">
                <div class="head-link-set">
                    <ul>
                        <li><a href="{{url_for('profile')}}">General</a></li>
                        <li><a class="active" href="#">Details</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-12 col-sm-12 col-12 ">
                <div class="row">
                    <div class="col-xl-6 col-sm-12 col-12  d-flex">
                        <div class="card card-lists flex-fill">
                            <div class="card-header ">
                                <h2 style="color: #d74b00;" class="card-titles">Time Information</h2>
                            </div>
                            <div class="card-body">
                                <div class="default-set">
                                    <ul>
                                        <li><label>Register day</label></li>
                                        <li><span>{{date}}</span></li>
                                        <li><label>Joined</label></li>
                                        <li><span>{{joined}}</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-sm-12 col-12  d-flex">
                        <div class="card card-lists flex-fill">
                            <div class="card-header ">
                                <h2 style="color: #d74b00;" class="card-titles">Project Information</h2>
                            </div>
                            <div class="card-body">
                                <div class="default-set">
                                    <ul>
                                        <li><label>Number of Projects</label></li>
                                        <li><span>{{pc}}</span></li>
                                        <li><label>Recent Project</label></li>
                                        <li><span>{{lp.name}}</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-sm-12 col-12 ">
                <div class="row">
                    <div class="col-xl-4 col-sm-12 col-12 d-flex">
                        <div class="card card-lists flex-fill">
                            <div class="card-header ">
                                <h2 style="color: rebeccapurple;" class="card-titles">High Tasks</h2>
                            </div>
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table  custom-table  no-footer">
                                        <thead>
                                            <tr>
                                                <th>Task Name</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for task in h %}
                                            <tr>
                                                <td><label>{{task.title}}</label></td>
                                                <td><label>{{task.status}}</label></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-12 col-12 d-flex">
                        <div class="card card-lists flex-fill">
                            <div class="card-header ">
                                <h2 style="color: #008da3;" class="card-titles">Medium Tasks</h2>
                            </div>
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table  custom-table  no-footer">
                                        <thead>
                                            <tr>
                                                <th>Task Name</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for task in m %}
                                            <tr>
                                                <td><label>{{task.title}}</label></td>
                                                <td><label>{{task.status}}</label></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-12 col-12 d-flex">
                        <div class="card card-lists flex-fill">
                            <div class="card-header ">
                                <h2 style="color: #00cd00;" class="card-titles">Low Tasks</h2>
                            </div>
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table  custom-table  no-footer">
                                        <thead>
                                            <tr>
                                                <th>Task Name</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for task in l %}
                                            <tr>
                                                <td><label>{{task.title}}</label></td>
                                                <td><label>{{task.status}}</label></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="customize_popup">
    <div class="modal fade" id="edit_working" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Edit Working Week</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class=" col-md-12 p-0">
                        <div class="checkworking">
                            <ul>
                                <li>
                                    <input type="checkbox" id="mon" checked>
                                    <label for="mon">Mon</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="tue" checked>
                                    <label for="tue">Tue</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="wed" checked>
                                    <label for="wed">Wed</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="thur" checked>
                                    <label for="thur">Thur</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="fri" checked>
                                    <label for="fri">Fri</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="sat">
                                    <label for="sat">Sat</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="sun">
                                    <label for="sun">Sun</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-add">Add</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}