{% extends "app.html" %}

{% block title %}Project Page{% endblock %}

{% block content %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="row">
            <div class="col-xl-12 col-sm-12 col-12">
                <div class="breadcrumb-path mb-4">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ url_for('dashboard')}}"><img
                                    src="../static/assets/img/dash.png" class="mr-2" alt="breadcrumb" />Home</a>
                        </li>
                        <li class="breadcrumb-item active"> Projects</li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-12 col-sm-12 col-12 mb-4">
                <div class="head-link-set">
                    <form action="" method="get" style="display: flex;">
                        <input name="search" type="text" class="form-control" placeholder="Search projects here">
                        <button class="btn" style="background-color: rgb(2, 105, 179); margin-left: 20px;"
                            type="submit"><i class="fas fa-search" style="color: antiquewhite;"></i></button>
                    </form>
                    <a class="btn-add" data-toggle="modal" data-target="#addproject"><i data-feather="plus"></i> Add
                        Project</a>
                </div>
            </div>

            <div class="col-xl-12 col-sm-12 col-12 mb-4">
                <div class="card">
                    <div class="table-heading">
                        <h2>All Projects</h2>
                    </div>
                    <div class="table-responsive">
                        <table class="table  custom-table no-footer">
                            <thead>
                                <tr>
                                    <th style="color: rgb(200, 100, 0);">Name</th>
                                    <th style="color: rgb(200, 100, 0);">Description</th>
                                    <th style="color: rgb(200, 100, 0);">Created At</th>
                                    <th style="color: rgb(200, 100, 0);">Updated At</th>
                                    <th style="color: rgb(200, 100, 0);">Update</th>
                                    <th style="color: rgb(200, 100, 0);">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for project in projects %}
                                <tr>
                                    <td data-toggle="modal" data-target="#detailsProject" 
                                    data-id="{{ project.id }}" data-name="{{ project.name }}"
                                    data-description="{{ project.description }}" data-created_at="{{ project.created_at }}" 
                                    data-updated_at="{{ project.updated_at }}" onclick="handleDetailClick(this)">
                                        <label class="action_label">{{project.name}}</label>
                                    </td>
                                    <td>
                                        <label>{{project.description}}</label>
                                    </td>
                                    <td>
                                        <label>{{ project.created_at | format_date if project.created_at else "No create" }}</label>
                                    </td>
                                    <td>
                                        <label>{{ project.updated_at | format_date if project.created_at else "No create" }}</label>
                                    </td>
                                    <td>
                                        <a data-toggle="modal" data-target="#updateProject" 
                                        data-id="{{ project.id }}" data-name="{{ project.name }}" 
                                        data-description="{{ project.description }}" data-updated_at="{{ project.updated_at }}" 
                                        data-created_at="{{ project.created_at }}" onclick="handleProjectClick(this)">
                                            <i data-feather="edit"></i>
                                        </a>
                                    </td>
                                    
                                    <td>
                                        <!-- Nút xóa project -->
                                        <a href="#" class="delete_button" data-id="{{ project.id }}" data-toggle="modal" data-target="#delProject" onclick="handleDeleteClick(this)">
                                            <i data-feather="trash-2"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td>No projects available</td>
                                </tr>
                                {% endfor %}

                                <script>
                                    document.addEventListener('DOMContentLoaded', function () {
                                        // Tìm tất cả các phần tử select và thiết lập màu ban đầu
                                        var selects = document.querySelectorAll('.select');
                                        selects.forEach(function (select) {
                                            changeColor(select);  // Gọi hàm để thiết lập màu ban đầu dựa trên giá trị hiện tại
                                        });
                                    });

                                    function changeColor(selectElement) {
                                        if (selectElement.value === "active") {
                                            selectElement.style.backgroundColor = "#029cd5";  // Màu xanh dương cho Active
                                            selectElement.style.color = "white";  // Màu chữ trắng
                                        } else if (selectElement.value === "inactive") {
                                            selectElement.style.backgroundColor = "#fe7a33";  // Màu đỏ cho Inactive
                                            selectElement.style.color = "white";  // Màu chữ trắng
                                        }
                                    }

                                    function convertToDate(dateString) {
                                        var date = new Date(dateString);
                                        if (isNaN(date.getTime())) {
                                            console.error("Invalid date format:", dateString);  // In ra nếu ngày không hợp lệ
                                            return "";  // Trả về chuỗi trống nếu ngày không hợp lệ
                                        }
                                        return date.toISOString().split('T')[0];  // Trả về định dạng YYYY-MM-DD
                                    }

                                    function handleProjectClick(button) {
                                        var projectID = button.getAttribute('data-id');
                                        var name = button.getAttribute('data-name');
                                        var description = button.getAttribute('data-description');
                                        var created_at = convertToDate(button.getAttribute('data-created_at')); 
                                        var updated_at = convertToDate(button.getAttribute('data-updated_at'));


                                        // Cập nhật giá trị vào các input trong form cập nhật
                                        document.querySelector('input[name="name-update"]').value = name;
                                        document.querySelector('textarea[name="description-update"]').value = description;
                                        document.querySelector('input[name="created_at-update"]').value = created_at;
                                        document.querySelector('input[name="updated_at-update"]').value = updated_at;

                                        // Cập nhật projectID vào các input ẩn để thực hiện cập nhật hoặc xóa
                                        document.getElementById('idForUpdate').value = projectID;
                                    }
                                    
                                    function handleDeleteClick(button) {
                                        var projectID = button.getAttribute('data-id');
                                        var projectName = button.closest('tr').querySelector('td').innerText; // Lấy tên project từ hàng

                                        
                                        document.getElementById('idForDelete').value = projectID;
                                        document.getElementById('nameForDelete').innerText = projectName; 
                                    }
                                    
                                    function handleDetailClick(button) {
                                        var projectID = button.getAttribute('data-id');
                                        var name = button.getAttribute('data-name');
                                        var description = button.getAttribute('data-description');
                                        var created_at = convertToDate(button.getAttribute('data-created_at') || "2024-01-01"); // Ngày mặc định nếu không có dữ liệu
                                        var updated_at = convertToDate(button.getAttribute('data-updated_at') || "2024-01-02"); // Ngày mặc định nếu không có dữ liệu


                                        // Cập nhật giá trị vào các input trong form cập nhật
                                        document.querySelector('input[name="name-detail"]').value = name;
                                        document.querySelector('textarea[name="description-detail"]').value = description;
                                        document.querySelector('input[name="created_at-detail"]').value = created_at;
                                        document.querySelector('input[name="updated_at-detail"]').value = updated_at;
                                    }

                                </script>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="customize_popup add_popup">
    <div class="modal fade" id="addproject" tabindex="-1" aria-labelledby="staticBackdropLabela" aria-hidden="true">
        <form action="" method="post">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabela">Create New Project</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class=" col-md-12 p-0">
                            <div class=" form-popup m-0">
                                <input name="name" type="text" placeholder="Project Name">
                            </div>
                        </div>
                        <div class=" col-md-12 p-0">
                            <div class=" form-popup m-0">
                                <textarea name="description"
                                    style="margin-top: 20px; width: 100%; padding: 10px; border: 0.1px solid rgb(181, 181, 181); font-size: 15px; box-sizing: border-box;"
                                    placeholder="Description" rows="4" cols="50"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-xl-5 col-sm-6 col-12 mx-auto">
                            <div class=" form-popup m-0">
                                <label><b>Created At</b></label>
                                <input type="date" name="created_at"
                                    style="width: 100%; padding: 20px 10px; border: 0.1px solid #ececec; border-radius: 4px; font-size: 14px; box-sizing: border-box;">
                            </div>
                        </div>
                        <div class="col-xl-5 col-sm-6 col-12 mx-auto">
                            <div class=" form-popup m-0">
                                <label><b>Updated At</b></label>
                                <input type="date" name="updated_at"
                                    style="width: 100%; padding: 20px 10px; border: 0.1px solid #ececec; border-radius: 4px; font-size: 14px; box-sizing: border-box;">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row mb-4">
                            <div class="col-xl-3 col-sm-6 col-12 mx-auto">
                                <button type="submit" class="btn btn-primary">Add</button>
                            </div>
                            <div class="col-xl-3 col-sm-6 col-12 mx-auto">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="customize_popup update_popup">
    <div class="modal fade" id="updateProject" tabindex="-1" aria-labelledby="staticBackdropLabela" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <form action="{{ url_for('handle_update_project') }}" method="post">
                <input type="hidden" name="idForUpdate" id="idForUpdate">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabela">Update Project</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12 p-0">
                            <div class="form-popup m-0">
                                <input name="name-update" type="text" placeholder="Project Name">
                            </div>
                        </div>
                        <div class="col-md-12 p-0">
                            <div class="form-popup m-0">
                                <textarea name="description-update" style="margin-top: 20px; width: 100%; padding: 10px; border: 0.1px solid rgb(181, 181, 181); font-size: 15px; box-sizing: border-box;" placeholder="Description" rows="4" cols="50"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-xl-6 col-sm-6 col-12 mx-auto">
                            <div class="form-popup m-0">
                                <label><b>Create At</b></label>
                                <input name="created_at-update" type="date" style="width: 100%; padding: 20px 10px; border: 0.1px solid #ececec; border-radius: 4px; font-size: 14px; box-sizing: border-box;">
                            </div>
                        </div>
                        <div class="col-xl-6 col-sm-6 col-12 mx-auto">
                            <div class="form-popup m-0">
                                <label><b>Updated At</b></label>
                                <input name="updated_at-update" type="date" style="width: 100%; padding: 20px 10px; border: 0.1px solid #ececec; border-radius: 4px; font-size: 14px; box-sizing: border-box;">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row mb-4">
                            <div class="col-xl-6 col-sm-6 col-12 mx-auto">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                            <div class="col-xl-6 col-sm-6 col-12 mx-auto">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="customize_popup delete_popup">
    <div class="customize_popup delete_popup">
        <div class="modal fade" id="delProject" tabindex="-1" aria-labelledby="delProjectLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="{{url_for('handle_delete_project')}}" method="POST">
                        <div class="modal-header">
                            <h5 class="modal-title" id="delProjectLabel">Delete Project</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete the project <strong id="nameForDelete"></strong>?</p>
                            <input type="hidden" id="idForDelete" name="idForDelete">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Delete</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="customize_popup details_popup">
    <div class="modal fade" id="detailsProject" tabindex="-1" aria-labelledby="staticBackdropLabela" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabela">Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class=" col-md-12 p-0">
                            <div class=" form-popup m-0">
                                <input name="name-detail" type="text" placeholder="Project Name">
                            </div>
                        </div>
                        <div class=" col-md-12 p-0">
                            <div class=" form-popup m-0">
                                <textarea name="description-detail"
                                    style="margin-top: 20px; width: 100%; padding: 10px; border: 0.1px solid rgb(181, 181, 181); font-size: 15px; box-sizing: border-box;"
                                    placeholder="Description" rows="4" cols="50"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-xl-4 col-sm-6 col-12 mx-auto">
                            <div class=" form-popup m-0">
                                <label><b>Updated At</b></label>
                                <input name="updated_at-detail" type="date"
                                    style="width: 100%; padding: 20px 10px; border: 0.1px solid #ececec; border-radius: 4px; font-size: 14px; box-sizing: border-box;">
                            </div>
                        </div>
                        <div class="col-xl-4 col-sm-6 col-12 mx-auto">
                            <div class=" form-popup m-0">
                                <label><b>Created At</b></label>
                                <input name="created_at-detail" type="date"
                                    style="width: 100%; padding: 20px 10px; border: 0.1px solid #ececec; border-radius: 4px; font-size: 14px; box-sizing: border-box;">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}