{% extends "app.html" %}

{% block title %}Task Page{% endblock %}

{% block content %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="row">
            <div class="col-xl-12 col-sm-12 col-12">
                <div class="breadcrumb-path mb-4">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ url_for('dashboard')}}"><img
                                    src="../static/assets/img/dash.png" class="mr-2" alt="breadcrumb" />Home</a>
                        </li>
                        <li class="breadcrumb-item active"> Task</li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-12 col-sm-12 col-12 mb-4">
                <div class="head-link-set">
                    <form action="" method="get" style="display: flex;">
                        <input name="search" type="text" class="form-control" placeholder="Search task here">
                        <button class="btn" style="background-color: rgb(2, 105, 179); margin-left: 20px;"
                            type="submit"><i class="fas fa-search" style="color: antiquewhite;"></i></button>
                    </form>
                    <a class="btn-add" data-toggle="modal" data-target="#addTask"><i data-feather="plus"></i> Add
                        Task</a>
                </div>
            </div>

            <div class="col-xl-12 col-sm-12 col-12 mb-4">
                <div class="card">
                    <div class="table-heading">
                        <h2>All Tasks</h2>
                    </div>
                    <div class="table-responsive">
                        <table class="table  custom-table no-footer">
                            <thead>
                                <tr>
                                    <th style="color: coral;">Name</th>
                                    <th style="color: coral;">Description</th>
                                    <th style="color: coral;">Due date</th>
                                    <th style="color: coral;">Status</th>
                                    <th style="color: coral;">Priority</th>
                                    <th style="color: coral;">Update</th>
                                    <th style="color: coral;">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for t in tasks %}
                                <tr>
                                    <td data-toggle="modal" data-target="#detailsTask" 
                                    data-id="{{ t.id }}" data-title="{{ t.title }}" data-project_id="{{ t.project_id }}"
                                    data-description="{{ t.description }}" data-due="{{ t.due_day }}" 
                                    data-status="{{ t.status }}" data-priority="{{ t.priority }}" 
                                    data-begin="{{ t.begin_day }}" onclick="handleDetailClick(this)">
                                        <label class="action_label">{{t.title}}</label>
                                    </td>
                                    <td>
                                        <label>{{t.description}}</label>
                                    </td>
                                    <td><label style="color: crimson; font-weight: bold;">{{t.due_day | format_date}}</label></td>
                                    <td class="tab-select">
                                        <select class="select" style="padding: 10px 20px; font-weight: bold;"
                                            onchange="changeColor(this)">
                                            <option value="todo" {% if t.status=='TODO' %}selected{% endif %}>Todo
                                            </option>
                                            <option value="doing" {% if t.status=='IN_PROGRESS' %}selected{% endif %}>
                                                Doing</option>
                                            <option value="completed" {% if t.status=='COMPLETED' %}selected{% endif %}>
                                                Done</option>
                                        </select>
                                    </td>
                                    <td class="tab-select tab-2">
                                        <select class="select" style="padding: 10px 20px; font-weight: bold;"
                                            onchange="changeColor(this)">
                                            <option value="low" {% if t.priority=='LOW' %}selected{% endif %}>Low
                                            </option>
                                            <option value="medium" {% if t.priority=='MEDIUM' %}selected{% endif %}>
                                                Medium</option>
                                            <option value="high" {% if t.priority=='HIGH' %}selected{% endif %}>High
                                            </option>
                                        </select>
                                    </td>
                                    <td>
                                        <a data-toggle="modal" data-target="#updateTask" 
                                            data-id="{{ t.id }}" data-title="{{ t.title }}" data-project_id="{{ t.project_id }}"
                                            data-description="{{ t.description }}" data-due="{{ t.due_day }}" 
                                            data-status="{{ t.status }}" data-priority="{{ t.priority }}" 
                                            data-begin="{{ t.begin_day }}" onclick="handleTaskClick(this)">
                                            <i data-feather="edit"></i>
                                        </a>
                                    </td>
                                    
                                    <td>
                                        <!-- Nút xóa task -->
                                        <a href="#" class="delete_button" data-id="{{ t.id }}" data-toggle="modal" data-target="#delTask" onclick="handleDeleteClick(this)">
                                            <i data-feather="trash-2"></i>
                                        </a>
                                    </td>
                                    
                                </tr>
                                {% else %}
                                <tr>
                                    <td>No tasks available.</td>
                                </tr>
                                {% endfor %}
                                <script>
                                    document.addEventListener('DOMContentLoaded', function () {
                                        // Tìm tất cả các phần tử select và thiết lập màu ban đầu
                                        var selects = document.querySelectorAll('.select');
                                        selects.forEach(function (select) {
                                            changeColor(select);  // Gọi hàm để thiết lập màu ban đầu dựa trên giá trị hiện tại
                                        });
                                    });

                                    function changeColor(selectElement) {
                                        if (selectElement.value === "active") {
                                            selectElement.style.backgroundColor = "#029cd5";  // Màu xanh dương cho Active
                                            selectElement.style.color = "white";  // Màu chữ trắng
                                        } else if (selectElement.value === "inactive") {
                                            selectElement.style.backgroundColor = "#fe7a33";  // Màu đỏ cho Inactive
                                            selectElement.style.color = "white";  // Màu chữ trắng
                                        }
                                    }

                                    function convertToDate(dateString) {
                                        var date = new Date(dateString);
                                        if (isNaN(date.getTime())) {
                                            console.error("Invalid date format:", dateString);  // In ra nếu ngày không hợp lệ
                                            return "";  // Trả về chuỗi trống nếu ngày không hợp lệ
                                        }
                                        return date.toISOString().split('T')[0];  // Trả về định dạng YYYY-MM-DD
                                    }

                                    function handleTaskClick(button) {
                                        var taskId = button.getAttribute('data-id');
                                        var taskTitle = button.getAttribute('data-title');
                                        var projectId = button.getAttribute('data-project_id');
                                        var description = button.getAttribute('data-description');
                                        var dueDay = convertToDate(button.getAttribute('data-due'));
                                        var status = button.getAttribute('data-status');
                                        var beginDay = convertToDate(button.getAttribute('data-begin'));
                                        var priority = button.getAttribute('data-priority');

                                        // Cập nhật giá trị vào các input trong form cập nhật
                                        document.querySelector('input[name="title-update"]').value = taskTitle;
                                        document.querySelector('select[name="project_id-update"]').value = projectId;
                                        document.querySelector('textarea[name="description-update"]').value = description;
                                        document.querySelector('input[name="dueDay-update"]').value = dueDay;
                                        document.querySelector('input[name="beginDay-update"]').value = beginDay;
                                        document.querySelector('select[name="Status-update"]').value = status;
                                        document.querySelector('select[name="priority-update"]').value = priority;

                                        // Cập nhật taskId vào các input ẩn để thực hiện cập nhật hoặc xóa
                                        document.getElementById('idForUpdate').value = taskId;
                                    }
                                    

                                    function handleDeleteClick(button) {
                                        // Lấy ID của task cần xóa từ thuộc tính `data-id`
                                        var taskId = button.getAttribute('data-id');
                                        var taskTitle = button.closest('tr').querySelector('td').innerText; // Lấy tên task từ hàng

                                        // Cập nhật ID vào form xóa và tên task vào thông báo xác nhận
                                        document.getElementById('idForDelete').value = taskId;
                                        document.getElementById('nameForDelete').innerText = taskTitle; // Hiển thị tên task trong modal xác nhận
                                    }

                                    function handleDetailClick(button) {
                                        var taskId = button.getAttribute('data-id');
                                        var taskTitle = button.getAttribute('data-title');
                                        var projectId = button.getAttribute('data-project_id');
                                        var description = button.getAttribute('data-description');
                                        var dueDay = convertToDate(button.getAttribute('data-due'));
                                        var status = button.getAttribute('data-status');
                                        var beginDay = convertToDate(button.getAttribute('data-begin'));
                                        var priority = button.getAttribute('data-priority');

                                        // Cập nhật giá trị vào các input trong form cập nhật
                                        document.querySelector('input[name="title-detail"]').value = taskTitle;
                                        document.querySelector('select[name="project_id-detail"]').value = projectId;
                                        document.querySelector('textarea[name="description-detail"]').value = description;
                                        document.querySelector('input[name="dueDay-detail"]').value = dueDay;
                                        document.querySelector('input[name="beginDay-detail"]').value = beginDay;
                                        document.querySelector('select[name="Status-detail"]').value = status;
                                        document.querySelector('select[name="priority-detail"]').value = priority;
                                    }
                                </script>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="customize_popup add_popup">
    <div class="modal fade" id="addTask" tabindex="-1" aria-labelledby="staticBackdropLabela" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <form action="" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabela">Create New Task</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class=" col-md-12 p-0 mb-4">
                            <div class=" form-popup m-0">
                                <select name="project_id" id="">
                                    {% for p in projects %}
                                    <option value="{{ p.id }}">{{ p.name }}</option>
                                    {% else %}
                                    <option disabled>No projects available.</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class=" col-md-12 p-0">
                            <div class=" form-popup m-0">
                                <input name="title" type="text" placeholder="Task Name">
                            </div>
                        </div>
                        <div class=" col-md-12 p-0">
                            <div class=" form-popup m-0">
                                <textarea name="description"
                                    style="margin-top: 20px; width: 100%; padding: 10px; border: 0.1px solid rgb(181, 181, 181); font-size: 15px; box-sizing: border-box;"
                                    placeholder="Description" rows="4" cols="50"></textarea>
                            </div>
                        </div>

                        <div class="col-md-12 p-0">
                            <div class="form-popup m-0">
                                <input name="attachment" type="file" accept=".pdf,.docx,.xlsx,.png,.jpg,.jpeg" 
                                       style="margin-top: 15px; width: 100%; padding: 10px; border: 0.1px solid #ececec; border-radius: 4px; font-size: 14px; box-sizing: border-box;">
                            </div>
                        </div>
                    </div>
                    
                    <div class="row mb-4">
                        <div class="col-xl-3 col-sm-6 col-12 mx-auto">
                            <div class=" form-popup m-0">
                                <label><b>Begin day</b></label>
                                <input name="beginDay" type="date"
                                    style="width: 100%; padding: 20px 10px; border: 0.1px solid #ececec; border-radius: 4px; font-size: 14px; box-sizing: border-box;">
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 col-12 mx-auto">
                            <div class=" form-popup m-0">
                                <label><b>Due Date</b></label>
                                <input name="dueDay" type="date"
                                    style="width: 100%; padding: 20px 10px; border: 0.1px solid #ececec; border-radius: 4px; font-size: 14px; box-sizing: border-box;">
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 col-12 mx-auto">
                            <div class=" form-popup m-0">
                                <label><b>Status</b></label>
                                <select name="Status">
                                    <option value="TODO">Todo</option>
                                    <option value="IN_PROGRESS">Doing</option>
                                    <option value="COMPLETED">Completed</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 col-12 mx-auto">
                            <div class=" form-popup m-0">
                                <label><b>Priority</b></label>
                                <select name="priority">
                                    <option value="LOW">Low</option>
                                    <option value="MEDIUM">Medium</option>
                                    <option value="HIGH">High</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row mb-4">
                            <div class="col-xl-3 col-sm-6 col-12 mx-auto">
                                <button type="submit" class="btn btn-primary">Add</button>
                            </div>
                            <div class="col-xl-3 col-sm-6 col-12 mx-auto">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="customize_popup delete_popup">
    <div class="customize_popup delete_popup">
        <div class="modal fade" id="delTask" tabindex="-1" aria-labelledby="delTaskLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="{{url_for('handle_delete_task')}}" method="POST">
                        <div class="modal-header">
                            <h5 class="modal-title" id="delTaskLabel">Delete Task</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete the task <strong id="nameForDelete"></strong>?</p>
                            <input type="hidden" id="idForDelete" name="idForDelete">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Delete</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="customize_popup update_popup">
    <div class="modal fade" id="updateTask" tabindex="-1" aria-labelledby="staticBackdropLabela" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <form action="{{url_for('handle_update_task')}}" method="post">
                <input type="hidden" name="idForUpdate" id="idForUpdate">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabela">Update Task</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class=" col-md-12 p-0 mb-4">
                            <div class=" form-popup m-0">
                                <select name="project_id-update" id="">
                                    {% for p in projects %}
                                    <option value="{{ p.id }}">{{ p.name }}</option>
                                    {% else %}
                                    <option disabled>No projects available.</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class=" col-md-12 p-0">
                            <div class=" form-popup m-0">
                                <input name="title-update" type="text" placeholder="Task Name">
                            </div>
                        </div>
                        <div class=" col-md-12 p-0">
                            <div class=" form-popup m-0">
                                <textarea name="description-update"
                                    style="margin-top: 20px; width: 100%; padding: 10px; border: 0.1px solid rgb(181, 181, 181); font-size: 15px; box-sizing: border-box;"
                                    placeholder="Description" rows="4" cols="50"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-xl-3 col-sm-6 col-12 mx-auto">
                            <div class=" form-popup m-0">
                                <label><b>Begin day</b></label>
                                <input name="beginDay-update" type="date"
                                    style="width: 100%; padding: 20px 10px; border: 0.1px solid #ececec; border-radius: 4px; font-size: 14px; box-sizing: border-box;">
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 col-12 mx-auto">
                            <div class=" form-popup m-0">
                                <label><b>Due Date</b></label>
                                <input name="dueDay-update" type="date"
                                    style="width: 100%; padding: 20px 10px; border: 0.1px solid #ececec; border-radius: 4px; font-size: 14px; box-sizing: border-box;">
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 col-12 mx-auto">
                            <div class=" form-popup m-0">
                                <label><b>Status</b></label>
                                <select name="Status-update">
                                    <option value="TODO">Todo</option>
                                    <option value="IN_PROGRESS">Doing</option>
                                    <option value="COMPLETED">Completed</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 col-12 mx-auto">
                            <div class=" form-popup m-0">
                                <label><b>Priority</b></label>
                                <select name="priority-update">
                                    <option value="LOW">Low</option>
                                    <option value="MEDIUM">Medium</option>
                                    <option value="HIGH">High</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row mb-4">
                            <div class="col-xl-3 col-sm-6 col-12 mx-auto">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                            <div class="col-xl-3 col-sm-6 col-12 mx-auto">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="customize_popup details_popup">
    <div class="modal fade" id="detailsTask" tabindex="-1" aria-labelledby="staticBackdropLabela" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabela">Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class=" col-md-12 p-0 mb-4">
                            <div class=" form-popup m-0">
                                <select name="project_id-detail" id="">
                                    {% for p in projects %}
                                    <option value="{{ p.id }}">{{ p.name }}</option>
                                    {% else %}
                                    <option disabled>No projects available.</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class=" col-md-12 p-0">
                            <div class=" form-popup m-0">
                                <input name="title-detail" type="text" placeholder="Task Name">
                            </div>
                        </div>
                        <div class=" col-md-12 p-0">
                            <div class=" form-popup m-0">
                                <textarea name="description-detail"
                                    style="margin-top: 20px; width: 100%; padding: 10px; border: 0.1px solid rgb(181, 181, 181); font-size: 15px; box-sizing: border-box;"
                                    placeholder="Description" rows="4" cols="50"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-xl-3 col-sm-6 col-12 mx-auto">
                            <div class=" form-popup m-0">
                                <label><b>Due Date</b></label>
                                <input name="dueDay-detail" type="date"
                                    style="width: 100%; padding: 20px 10px; border: 0.1px solid #ececec; border-radius: 4px; font-size: 14px; box-sizing: border-box;">
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 col-12 mx-auto">
                            <div class=" form-popup m-0">
                                <label><b>Status</b></label>
                                <select name="Status-detail">
                                    <option value="TODO">Todo</option>
                                    <option value="IN_PROGRESS">Doing</option>
                                    <option value="COMPLETED">Completed</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 col-12 mx-auto">
                            <div class=" form-popup m-0">
                                <label><b>Begin day</b></label>
                                <input name="beginDay-detail" type="date"
                                    style="width: 100%; padding: 20px 10px; border: 0.1px solid #ececec; border-radius: 4px; font-size: 14px; box-sizing: border-box;">
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 col-12 mx-auto">
                            <div class=" form-popup m-0">
                                <label><b>Priority</b></label>
                                <select name="priority-detail">
                                    <option value="LOW">Low</option>
                                    <option value="MEDIUM">Medium</option>
                                    <option value="HIGH">High</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}