{%extends "base.html"%}
{% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='assets/css/css-auth/login.css')}}">
{% endblock %}

{% block style %}
<style>
    .form-floating .custom-input {
        height: 50px;
        /* Chiều cao tùy chỉnh */
        padding-right: 50px;
        /* Điều chỉnh padding */
        background: #0000005c;
        border-width: 0;
        border-radius: 10px;
        color: white;
    }

    /* Đảm bảo label căn chỉnh đúng */
    .form-floating>label {
        padding: 0 12px;
        line-height: 43px;
        /* Đồng bộ chiều cao của input */
    }

    .form-check-input {
        background: #f1f1f199;
    }


    .sign_in_btn {
        background: rgba(0, 0, 255, 0.538);
        border-width: 0;
        border-radius: 30px;
        height: 50px;
        width: 50%;
    }
</style>
{% endblock %}

{%block content%}
<div class="content_container bg-primary vw-100 vh-100 position-relative text-white ">
    <img src="../../static/assets/img/bg_img.jpg" class="bg_img img position-absolute top-0 start-0" alt="..." />
    <!-- <div class="layout_form position-absolute top-50 start-50 translate-middle"> -->
        <div class="layout_form">
        <div class="title mt-5 mb-5 text-white">
            <p><b>Did you forget your password?</b></p>
            <h1 class="mt=0">Reset password here.</h1>
        </div>

        <!-- Flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}


        <form action="{{ url_for('resetPassword') }}" method="POST">
            <div class="form-floating mb-3 position-relative">
                <input name="otp_code" type="text" class="form-control custom-input " id="floatingInput"
                    placeholder="name@example.com">
                <label for="floatingInput">Your OTP code</label>
                <div class="email_icon position-absolute ">
                    <img src="../../static/assets/icons/user.png" width="30px" height="30px" alt="email">
                </div>
            </div>
            <div class="row g-2 mb-3">
                <div class="col-9 form-floating position-relative">
                    <input name="new_password" type="password" class="form-control custom-input" id="floatingPassword"
                        placeholder="Password">
                    <label for="floatingPassword">New Password</label>
                    <div class="email_icon position-absolute ">
                        <img src="../../static/assets/icons/hidden.png" width="30px" height="30px" alt="email">
                    </div>
                </div>
            </div>
            <div class="mb-4 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary sign_in_btn w-100"><b>RESET PASSWORD</b></button>
            </div>
        </form>
    </div>
</div>

<script src="{{url_for('static',filename='assets/js/js-auth/login.js')}}"></script>
{%endblock%}